{% extends "base.html" %}{% load crispy_forms_tags %}


{% block content %}

<form  method="POST" >
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="primaryAction btn btn-primary" type="submit">submit</button>
  </form>
{% endblock content %}